@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.mont {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1492px;
  width: 100%;
  margin: auto;
}
.text-primary {
  color: #003465;
}
.bg {
  background-color: #003465;
}
.text-size {
  font-size: 80px;
}
.leading-93 {
  line-height: 93%;
}

@media (max-width: 1440px) {
  .text-size {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .text-size {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .text-size {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .text-size {
    font-size: 25px;
  }
}
